[Unit]
Description=ant_controller
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/[user]/ant_controller/ant.py

[Install]
WantedBy=multi-user.target
