[Unit]
Description=ant_controller Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/aw/ant_controller
ExecStart=/usr/local/bin/uwsgi --socket 192.168.1.39:5000 --protocol http -w app:app

[Install]
WantedBy=multi-user.target